#calculator {
    max-height: 26;
    min-height: 20;
    max-width: 47;
    min-width: 40;
    background: $boost;
    padding-top: 1;
    box-sizing: content-box;
    align: center middle;
}

#numpad {
    width: 100%;
    height: 16;
    layout: grid;
    grid-size: 5 4;
    grid-gutter: 1 2;
    max-height: 25;
    min-height: 10;
    max-width: 50;
    min-width: 40;
    margin: 1 1;
}

#screen {
    width: 100%;
    max-height: 8;
    min-height: 6;
    padding: 1;
    background: rgb(43, 82, 62);
    border: rgb(12, 48, 24) tall;
    content-align: right bottom;
}

Button {
    max-height: 6;
    min-height: 3;
    max-width: 10;
    min-width: 8;
}

.spantwo {
    column-span: 2;
    max-width: 18;
    width: 100%;
}
