#calculator {
    max-height: 29;
    min-height: 25;
    max-width: 47;
    min-width: 40;
    border: rgb(0, 0, 0) thick;
    background: rgb(8, 11, 15);
}

#numpad {
    width: 100%;
    height: 16;
    layout: grid;
    grid-size: 5 4;
    grid-gutter: 1 2;
    max-height: 25;
    min-height: 10;
    max-width: 50;
    min-width: 40;
    margin: 1 1;
}

#screen {
    background: rgb(43, 82, 62);
    border: rgb(12, 48, 24) tall;
    max-height: 8;
    min-height: 6;
}

Button {
    max-height: 6;
    min-height: 3;
    max-width: 10;
    min-width: 8;
    /* border: none; */
    background: rgb(78, 78, 78);
}

.spantwo {
    column-span: 2;
    max-width: 18;
    width: 100%;
}
